form {
    color: #333;
}

form ul {
    font-size: 90%;
    color: #555;
    margin: -10px 0 20px 0;
}

form li {
    margin: 0 0 -5px 0;
}

form > div {
    clear: both;
    overflow: hidden;
    padding: 1px;
    margin: 0 0 10px 0;
}

form > div > fieldset > div > div {
    margin: 0 0 5px 0;
}

form > div > div,
form > div > fieldset > div {
    width: 76%;
    float: right;
}

form label:not(.cat), legend {
    text-decoration: underline;
}

fieldset {
    border: 0;
}

form
input[type=text],
input[type=password],
textarea {
    background: #fff;
    color: #333;
    border: 1px solid #888;
    padding: 5px;
}

form
input[type=text]:hover,
input[type=password]:hover,
textarea:hover {
    border: 1px solid #000;
    padding: 5px;
}

input[type=submit] {
    float: right;
    background: #5d5d5d;
    border: 1px solid #000;
    color: #f5f5f5;
    padding: 5px;
}

input[type=submit]:hover {
    background: #2e2e2e;
    border: 1px solid #ff0000;
}

form
input[type=text]:focus,
input[type=password]:focus,
input[type=submit]:focus,
textarea:focus {
    border: 1px solid #4cb848;
    padding: 5px;
}

form
input[type=text],
input[type=password]{
    width: 70%;
}

form textarea {
    min-height: 2.3em;
    width: 95%;
    max-width: 95%;
}


@media (max-width: 700px) {
    form > div {
        margin: 0 0 15px 0;
    }

    form > div > label,
    legend {
        width: 100%;
        float: none;
        margin: 0 0 5px 0;
    }

    form > div > div,
    form > div > fieldset > div {
        width: 100%;
        float: none;
    }

    input[type=text],
    input[type=password],
    textarea,
    select {
        width: 100%;
    }
}
