table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 14px;
    font-size: .7em;
    width: 100%;
}

table td {
    text-align: center;
}

table tr {
    border-top: 1px solid #ccc;
}

table th {
    font-weight: bold;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 6px 13px;
}

thead tr th {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.1);
}