body {
    width: 90%;
    max-width: 40em;
    margin: auto;
    padding: 0 5%;
    color: #444;
    line-height: 1.6em;
    font-size: 1.3em;
    font-family: 'Roboto', sans-serif;
}
/* HEADER */

header {
    margin-top: 2em;
    margin-bottom: 2em;
}
/* Blog title */

header .title {
    display: inline-block;
    vertical-align: middle;
    line-height: 0.8em;
}
header .title h1 a {
    color: #000;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
}
/* The Nav */

header nav {
    display: inline-block;
    vertical-align: top;
    float: right;
}
header nav ul {
    list-style: none;
}
header nav li {
    display: inline;
    margin-left: 0.5em;
}
header nav li a {
    padding-bottom: 0.2em;
    color: #007fb4;
    text-decoration: none;
    border-bottom: solid 2px transparent;
}
header nav li a:hover, header nav li .active {
    color: #646464;
    border-bottom: solid 2px #646464;
}
/* THE CONTENT */

article {
    margin-bottom: 1em;
    border-bottom: 1px dashed #b1b1b1;
}
article h2 a {
    display: inline-block;
    margin-bottom: 0.5em;
    color: #007fb4;
    font-size: 1.7em;
    font-weight: 300;
    text-decoration: none;
}
article h2 a:hover {
    color: #646464;
}
article .date {
    color: #9f9f9f;
    margin-bottom: 0.5em;
}
article p {
    text-align: justify;
    word-wrap: break-word;
}
article p,
article img {
    margin: 1em 0;
}
article p a {
    color: #007fb4;
}
/* Pagination */

#pagination {
    text-align: center;
}
#pagination li {
    display: inline;
}
#pagination li a {
    display: inline-block;
    padding: 0.1em 0.5em;
    color: #646464;
    text-decoration: none;
    border: 1px solid #b1b1b1;
}
#pagination li a:hover {
    color: #fff;
    background: #007fb4;
    border-color: #007fb4;
}
/* Bio */

#bio {
    padding: 1em 0;
}
#bio .avatar {
    float: left;
    margin: 0px 0.5em 0.5em 0px;
}
#bio .avatar img {
    max-width: 100px;
    max-height: 100px;
    background: #ccc;
    border: 1px solid #ddd;
}
#bio p {
    color: #b5b5b5;
    font-size: 0.9em;
    font-style: italic;
    line-height: 1.2em;
}
#bio p a {
    color: #b5b5b5;
}
/* FOOTER */

footer {
    padding: 0.5em 0;
    color: #b1b1b1;
    text-align: center;
    font-size: 0.8em;
}
footer a {
    color: #b1b1b1;
}
/* COMMONS */

b {
    font-weight: bold;
}
i {
    font-style: italic;
}
img {
    max-width: 100%;
    height: auto;
}
quote {
    display: inline-block;
    margin: 0.5em 0;
    padding: 1em;
    font-style: italic;
    background: #eaeaea;
    border-left: 0.2em solid #ccc;
}
article .content h3 {
    font-size: 1.5em;
}
article .content h4 {
    font-size: 1.4em;
}
article .content h5 {
    font-size: 1.3em;
}
/* FONT-FACE */

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'), url(https://themes.googleusercontent.com/static/fonts/roboto/v11/Hgo13k-tfSpn0qi1SFdUfT8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto Regular'), local('Roboto-Regular'), url(https://themes.googleusercontent.com/static/fonts/roboto/v11/2UX7WLTfW3W8TclTUvlFyQ.woff) format('woff');
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Bold'), local('Roboto-Bold'), url(https://themes.googleusercontent.com/static/fonts/roboto/v11/d-6IYplOFocCacKzxwXSOD8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
